.diffContainer {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 15vh 85vh;
}

.twoPlanView {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
}

.layoutBtn {
  position: absolute;
  left: 50vh;
  top: 10px;
}
