@mixin planMetadata {
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;
}

.firstPlanMetadata {
  @include planMetadata;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.secondPlanMetadata {
  @include planMetadata;
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}

table {
  width: max-content;
  align: center;
}

// squish them together
.td1 {
  text-align: right;
}
.td2 {
  text-align: left;
}
