.sideBar {
  align-content: center;
  justify-content: space-between;

  position: absolute;
  display: flex;
  flex-direction: column;

  width: 10vw;
  height: 12vh
}

.fileUploadBtn {
  border: 2px solid black;
  padding-top: 10%;
  text-align: center;
}

.fileUploadBtn:hover {
  background: lightgrey;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}